.overview-admin-content {
    display: flex;
}

.sidepanel {
    border-right: 1px solid black;
    padding-right: 2em;
}

.mainpanel {
    flex: 70%;
    margin-left: 1em;
}

.article-item {
    display: flex;
}

//menuitem content
.article-item-menu  {
    position: relative;
    display: inline-block;
}

.article-item-menu-items {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, .70);
    list-style-type: none;
    padding: 5px;
}

.article-item-menu-icon {
    padding-left: 10px;
    flex: 10%;
}

.article-item-menu:hover .article-item-menu-items {
    display: block;
}