@media (max-width: 768px) {
  #loginlink {
    display: none;
  }
  .nav-item {
    text-align: center;
  }
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.commentinput {
	width: 100%;
}

.main-header {
  text-align: center;
}

.modal-dialog {
  width: 80% !important;
}

.form-inline label {
  padding-right: 10px;
}

.inputdiv {
  width: 100%;
  border-bottom: gainsboro 1px solid;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.inputbuttons {
  margin-top: 10px;
  //float: right;
}

.container {
  background-color: rgba($color: #FFFFFF, $alpha: 0.50);
}

.margincontainer {
	padding: 1em;
}

.fa-1x {
  font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  }
  .dark-blue-text {
  color: #0A38F5;
  }
  .dark-pink-text {
  color: #AC003A;
  }
  .dark-amber-text {
  color: #ff6f00;
  }
  .dark-teal-text {
  color: #004d40;
  }
